<a href="https://colab.research.google.com/github/guelpman/Priorizacion_Descuentos_Peru/blob/main/AnalisisDescriptivoRetoPeru.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os

In [6]:
### Importamos los data set clients_attributes
urlpath = "https://raw.githubusercontent.com/IrisMon/Priorizacion_Descuentos_Peru/main/"
filename = "clients_attributes.csv"
fullpath = os.path.join(urlpath, filename)
df_clients= pd.read_csv(fullpath)
df_clients.head()

   Cliente FechaAltaCliente  Region  ...  TipoPoblacion  Estrato  EF
0        1       2009-03-03       4  ...              1        1   1
1        9       2009-03-03       4  ...              2        3   1
2       15       2009-03-03       4  ...              2        3   0
3       37       2009-03-03       4  ...              2        3   1
4       43       2009-03-03       4  ...              2        3   0

[5 rows x 8 columns]

In [7]:
### Importamos los data set --- 
urlpath = "https://raw.githubusercontent.com/IrisMon/Priorizacion_Descuentos_Peru/main/"
filename = "executed_promos.csv"
fullpath = os.path.join(urlpath, filename)
df_Expromos= pd.read_csv(fullpath)
df_Expromos.head()

   CodigoDC  Cliente  Marca  Cupo
0    297601     8410     29     9
1    297601     9337     29     9
2    309843     7404     40    16
3    309874     4017     40    16
4    309910     6316     40    16

In [8]:
### Importamos los data set active_promos
urlpath = "https://raw.githubusercontent.com/IrisMon/Priorizacion_Descuentos_Peru/main/"
filename = "active_promos.csv"
fullpath = os.path.join(urlpath, filename)
df_actpromos= pd.read_csv(fullpath)
df_actpromos.head()

   CodigoDC  Marca  Cupo Fecha_Desde Fecha_Hasta  Cliente
0    297601     29     9  2018-08-06  2018-08-30     3213
1    297601     29     9  2018-08-06  2018-08-30     3795
2    297601     29     9  2018-08-06  2018-08-30    11816
3    298856     40    16  2018-08-12  2018-08-19     8444
4    309916     40    16  2018-08-12  2018-08-19     8488

In [74]:
### Importamos los data set active_promos
urlpath = "https://raw.githubusercontent.com/IrisMon/Priorizacion_Descuentos_Peru/main/"
filename = "sales.csv"
fullpath = os.path.join(urlpath, filename)
df_sales= pd.read_csv(fullpath,encoding='ISO-8859-1')
df_sales.head()

   Cliente   Año  Mes  ClaseEnvase  ...  Cupo        Nr    Hl    Dcto
0        1  2018    1            2  ...  10.0   6352.94  0.03     0.0
1        1  2018    1            2  ...  16.0  99130.50  0.45     0.0
2        1  2018    6            2  ...   6.0  11605.40  0.07 -2880.0
3        1  2018    7            1  ...  34.0   1944.01  0.01     0.0
4        1  2018    8            2  ...  16.0  16250.18  0.06     0.0

[5 rows x 10 columns]

In [73]:
### Importamos los data set active_promos
urlpath = "https://raw.githubusercontent.com/guelpman/Priorizacion_Descuentos_Peru/main/"
filename = "PromosCliente.csv"
fullpath = os.path.join(urlpath, filename)
df_promocliente= pd.read_csv(fullpath)
df_promocliente.head()

  CodigoDC;Marca;Cupo;Fecha_Desde;Fecha_Hasta;Cliente;flg_Execute_Promo;NroPromo_Marca_Cupo;NroPromo_Cliente;FechaAltaCliente;Region;Gerencia;SubCanal;TipoPoblacion;Estrato;EF;Antiguedad_Cliente_dd;NroPromocionesPlan_Previas;NroPromocionesExecutadas_Previas
0  355107;39;20;5/09/2018;6/09/2018;1;0;1;1;3/03/...
1  355107;40;16;5/09/2018;6/09/2018;1;0;1;2;3/03/...
2  357832;39;20;7/09/2018;11/09/2018;1;0;2;3;3/03...
3  357832;40;16;7/09/2018;11/09/2018;1;0;2;4;3/03...
4  405557;40;16;17/09/2018;23/09/2018;1;0;3;5;3/0...

## Analisis Descriptivo
Primero Crearemos un solo data set para comenzar a realizar el analisis descriptivo en busca de inshigt

In [11]:

print('Numero de registros en Sales data;  '+ str(df_sales.Cliente.count()))
print('Numero de registros en Executed promos data;  '+ str(df_Expromos.CodigoDC.count()))
print('Numero de registros en Client attributes data;  '+ str(df_clients.Cliente.count()))
print('Numero de registros en Active promos data;  '+ str(df_actpromos.CodigoDC.count()))

Numero de registros en Sales data;  1894252
Numero de registros en Executed promos data;  27794
Numero de registros en Client attributes data;  15069
Numero de registros en Active promos data;  422437

In [42]:
df_actpromos.head(3)

   CodigoDC  Marca  Cupo Fecha_Desde Fecha_Hasta  Cliente
0    297601     29     9  2018-08-06  2018-08-30     3213
1    297601     29     9  2018-08-06  2018-08-30     3795
2    297601     29     9  2018-08-06  2018-08-30    11816

In [75]:
#df_sales['IngresoNeto'] = round(df_sales['Nr'],2).apply(int)
df_sales['IngresoNeto'] = df_sales['Nr']

In [76]:
del df_sales['Nr']

In [77]:
df_sales[((df_sales['Cliente']==3213) & (df_sales['Mes']==10))].head(3)

        Cliente   Año  Mes  ClaseEnvase  ...  Cupo    Hl  Dcto  IngresoNeto
348023     3213  2018   10            1  ...  25.0  0.05   0.0     14492.95
348024     3213  2018   10            1  ...  22.0  0.18   0.0     60572.16
348025     3213  2018   10            1  ...  34.0  0.01   0.0      -388.49

[3 rows x 10 columns]

In [78]:
df_actpromos[df_actpromos['Cliente']==3213].head(3)

      CodigoDC  Marca  Cupo Fecha_Desde Fecha_Hasta  Cliente
0       297601     29     9  2018-08-06  2018-08-30     3213
370     354346     40    16  2018-08-31  2018-09-13     3213
2733    355096     40    16  2018-09-05  2018-09-06     3213

In [79]:
df_Expromos[df_Expromos['Cliente']==3213]

       CodigoDC  Cliente  Marca  Cupo
2139     493767     3213     40    16
14224    355096     3213     40    16
15385    411679     3213     40    16

In [80]:
df_sales.head(3)

   Cliente   Año  Mes  ClaseEnvase  ...  Cupo    Hl    Dcto  IngresoNeto
0        1  2018    1            2  ...  10.0  0.03     0.0      6352.94
1        1  2018    1            2  ...  16.0  0.45     0.0     99130.50
2        1  2018    6            2  ...   6.0  0.07 -2880.0     11605.40

[3 rows x 10 columns]

In [83]:
df_sales.groupby('ClaseEnvase')['Cliente'].count()

ClaseEnvase
1    936508
2    957739
3         5
Name: Cliente, dtype: int64

In [84]:
#Generamos Valores unicos
df_sales.groupby('ClaseEnvase')['Cliente'].nunique()

ClaseEnvase
1    14927
2    14280
3        5
Name: Cliente, dtype: int64

Como se observa solo 5 clientes han comprado

In [81]:
pd.crosstab(df_sales['ClaseEnvase'], df_sales['SegmentoPrecio'])

SegmentoPrecio     1.0     2.0     3.0     4.0
ClaseEnvase
1               218835  500114   68242  149317
2               710971  112125  131531    3112

In [68]:
## Tabla Cruzada
pd.crosstab(df_sales['Cupo'], df_sales['Marca'])

Marca     1       2    3     4      5   ...     45     46  47   48    50
Cupo                                    ...
1.0        0       0    0     0      0  ...      0      0   0    0     0
2.0        0       0    0     0      0  ...      0      0   0    0     0
3.0        0       0    0     0      0  ...      0      0   0    0     0
4.0        0       0    0     0      0  ...      0      0   0    9     0
5.0        0      22    0     0      0  ...      0      0   0    0     0
6.0        0   20790    0     0      0  ...      0      0   0    0     0
7.0        0       0    0     0      5  ...      0      0   0    0     0
8.0        0       0    0     0      0  ...      0      0   0    0     0
9.0        0       0    0     0      0  ...      0      0   0    0     0
10.0       0    6133    0     0      0  ...      0      0   0    0     0
11.0       0       0    0     0      0  ...      0      0   0    0     0
12.0       0       0    0     0      0  ...      0      0   0    0     0
13.0       0       0    0     0      0  ...      0    329   0    0     0
14.0       0       0    0     0      0  ...      0      0   0    0     0
15.0       0       0    0     0      0  ...      0      0   0    0     0
16.0       0  128434    2  5392  14284  ...      0  18696   0  111  2412
17.0       0       0    0     0      0  ...      0      0   0    0     0
18.0       0       0    0     0      0  ...      0      0   0    0     0
19.0       0   35225    0     0      0  ...      0      0   0    0     0
20.0       0       0    0     0      0  ...      0      0   0    0     0
21.0       0       0  342     0      0  ...      0      0   0    0     0
22.0       0       0    0     0      0  ...      0      0   0    0     0
23.0       0    3238    0     0   4601  ...      0  12493   1    0     0
24.0       0       0    0     0      0  ...      0      0   0    0     0
25.0       0       1    0     0      0  ...      0      0   0    0     0
26.0       0   27062  416  2124      0  ...      0      0   0    0     0
27.0       0    5070    0     0      0  ...      0      0   0    0     0
28.0       0       0    0     0      0  ...      0      0   0    0   160
29.0       0       0    0     0      0  ...    110      0   0    0     0
30.0      46       0    0     0      0  ...      0      0   0    0     0
31.0       0       0    0     0      0  ...      0      0   0    0     0
32.0       0       0    0     0      0  ...  11340      0   0    0     0
33.0       0       0    0     0      0  ...   3391      0   0    0     0
34.0       0       0    0     0      0  ...      0      0   0    0     0
35.0   13768       0    0     0      0  ...      0      0   0    0     0

[35 rows x 49 columns]

In [32]:
df_sales.groupby(['Año','Mes'])['IngresoNeto'].mean()

Año   Mes
2018  1      76602.882488
      2      60072.641612
      3      65971.256305
      4      65928.527788
      5      66863.555732
      6      72915.742022
      7      75542.052782
      8      72301.340637
      9      67636.783814
      10     68348.142563
      11     76268.744095
      12     98619.740227
2019  1      72464.583827
      2      64335.300476
      3      54055.359041
      4      47119.599377
      5      63159.572481
      6      72862.249058
      7      67835.250206
      8      67766.210991
Name: IngresoNeto, dtype: float64

In [33]:
df_sales.describe().transpose()

                    count          mean  ...       75%           max
Cliente         1894252.0   6659.691539  ...  10022.00  1.506900e+04
Año             1894252.0   2018.360600  ...   2019.00  2.019000e+03
Mes             1894252.0      5.840180  ...      8.00  1.200000e+01
ClaseEnvase     1894252.0      1.505608  ...      2.00  3.000000e+00
SegmentoPrecio  1894247.0      1.775544  ...      2.00  4.000000e+00
Marca           1894252.0     28.268859  ...     44.00  5.000000e+01
Cupo            1894247.0     21.102441  ...     29.00  3.500000e+01
Hl              1894252.0      0.252256  ...      0.14  5.616200e+02
Dcto            1894252.0  -5452.991388  ...      0.00  0.000000e+00
IngresoNeto     1894252.0  69497.482544  ...  39353.90  1.772279e+08

[10 rows x 8 columns]

In [26]:
df_clients.isna().sum()

Cliente             0
FechaAltaCliente    0
Region              0
Gerencia            0
SubCanal            0
TipoPoblacion       0
Estrato             0
EF                  0
dtype: int64

In [22]:
df_Expromos.isna().sum()

CodigoDC    0
Cliente     0
Marca       0
Cupo        0
dtype: int64

In [17]:
df_sales.describe()

            Cliente           Año  ...          Dcto   IngresoNeto
count  1.894252e+06  1.894252e+06  ...  1.894252e+06  1.894252e+06
mean   6.659692e+03  2.018361e+03  ... -5.452991e+03  6.949748e+04
std    4.082322e+03  4.801747e-01  ...  1.893441e+05  7.339785e+05
min    1.000000e+00  2.018000e+03  ... -1.630897e+08 -1.432168e+08
25%    3.080000e+03  2.018000e+03  ... -1.021430e+03  8.225730e+03
50%    6.433000e+03  2.018000e+03  ...  0.000000e+00  1.618487e+04
75%    1.002200e+04  2.019000e+03  ...  0.000000e+00  3.935390e+04
max    1.506900e+04  2.019000e+03  ...  0.000000e+00  1.772279e+08

[8 rows x 10 columns]