<a href="https://colab.research.google.com/github/guelpman/Priorizacion_Descuentos_Peru/blob/Susana/AnalisisDescriptivoRetoPeru.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os

In [7]:
Filenames={'clients_attributes.csv','executed_promos.csv'}

In [11]:
for i in filenames:
  print(str(i))
  urlpath = "https://raw.githubusercontent.com/IrisMon/Priorizacion_Descuentos_Peru/main/"
  filename = str(i)
  fullpath = os.path.join(urlpath, filename)
  str(i)= pd.read_csv(fullpath)
 ### print(df_str(i).head(3))

SyntaxError: ignored

In [12]:
### Importamos los data set clients_attributes
urlpath = "https://raw.githubusercontent.com/IrisMon/Priorizacion_Descuentos_Peru/main/"
filename = "clients_attributes.csv"
fullpath = os.path.join(urlpath, filename)
df_clients= pd.read_csv(fullpath)
df_clients.head()

   Cliente FechaAltaCliente  Region  ...  TipoPoblacion  Estrato  EF
0        1       2009-03-03       4  ...              1        1   1
1        9       2009-03-03       4  ...              2        3   1
2       15       2009-03-03       4  ...              2        3   0
3       37       2009-03-03       4  ...              2        3   1
4       43       2009-03-03       4  ...              2        3   0

[5 rows x 8 columns]

In [13]:
### Importamos los data set --- 
urlpath = "https://raw.githubusercontent.com/IrisMon/Priorizacion_Descuentos_Peru/main/"
filename = "executed_promos.csv"
fullpath = os.path.join(urlpath, filename)
df_Expromos= pd.read_csv(fullpath)
df_Expromos.head()

   CodigoDC  Cliente  Marca  Cupo
0    297601     8410     29     9
1    297601     9337     29     9
2    309843     7404     40    16
3    309874     4017     40    16
4    309910     6316     40    16

In [14]:
### Importamos los data set active_promos
urlpath = "https://raw.githubusercontent.com/IrisMon/Priorizacion_Descuentos_Peru/main/"
filename = "active_promos.csv"
fullpath = os.path.join(urlpath, filename)
df_actpromos= pd.read_csv(fullpath)
df_actpromos.head()

   CodigoDC  Marca  Cupo Fecha_Desde Fecha_Hasta  Cliente
0    297601     29     9  2018-08-06  2018-08-30     3213
1    297601     29     9  2018-08-06  2018-08-30     3795
2    297601     29     9  2018-08-06  2018-08-30    11816
3    298856     40    16  2018-08-12  2018-08-19     8444
4    309916     40    16  2018-08-12  2018-08-19     8488

In [64]:
Fechas1=['Fecha_Desde','Fecha_Hasta']

In [66]:
for c in Fechas1:
    print(str(c))
    df_actpromos[str(c)] = pd.to_datetime(df_actpromos[str(c)])
    df_actpromos[str(c)+'_year'] = df_actpromos[str(c)].dt.year 
    df_actpromos[str(c)+'_month'] = df_actpromos[str(c)].dt.month
    df_actpromos[str(c)+'_day'] = df_actpromos[str(c)].dt.day

Fecha_Desde
Fecha_Hasta

In [71]:
df_actpromos.groupby(['Fecha_Desde_year','Fecha_Desde_month'])['CodigoDC'].count()

Fecha_Desde_year  Fecha_Desde_month
2018              8                     2735
                  9                    79630
                  10                   69134
                  11                   89347
                  12                    3238
2019              1                    50522
                  2                     1551
                  3                    34723
                  4                     2633
                  5                     4656
                  6                     2425
                  7                    13819
                  8                    31463
                  9                    36561
Name: CodigoDC, dtype: int64

In [15]:
### Importamos los data set active_promos
urlpath = "https://raw.githubusercontent.com/IrisMon/Priorizacion_Descuentos_Peru/main/"
filename = "sales.csv"
fullpath = os.path.join(urlpath, filename)
df_sales= pd.read_csv(fullpath,encoding='ISO-8859-1')
df_sales.head()

   Cliente   Año  Mes  ClaseEnvase  ...  Cupo        Nr    Hl    Dcto
0        1  2018    1            2  ...  10.0   6352.94  0.03     0.0
1        1  2018    1            2  ...  16.0  99130.50  0.45     0.0
2        1  2018    6            2  ...   6.0  11605.40  0.07 -2880.0
3        1  2018    7            1  ...  34.0   1944.01  0.01     0.0
4        1  2018    8            2  ...  16.0  16250.18  0.06     0.0

[5 rows x 10 columns]

In [63]:
### Importamos los data set active_promos
urlpath = "https://raw.githubusercontent.com/brewing-datacup/reto-peru-2020/main/data/"
filename = "test.csv"
fullpath = os.path.join(urlpath, filename)
test= pd.read_csv(fullpath,sep=',')
print(str(len(test)))
test.head()

16870

   Cliente  Marca  Cupo  Ejecuto_Promo
0       10     40    16            NaN
1       17     29     9            NaN
2       37     29     9            NaN
3       46     29     9            NaN
4       48     29     9            NaN

In [31]:
urlpath = "https://raw.githubusercontent.com/guelpman/Priorizacion_Descuentos_Peru/main/"
filename = "Promos_Cliente_3.txt"
fullpath = os.path.join(urlpath,filename)
data=pd.read_csv(fullpath,sep='\t', encoding='ISO-8859-1')
data.head()

   Cliente  ...  Ultimo_Total_Net_Dscto_Clase_SegmentoPrecio_4
0   4119.0  ...                                            0.0
1    412.0  ...                                            0.0
2   4680.0  ...                                            0.0
3   4682.0  ...                                       -11221.0
4   4120.0  ...                                            0.0

[5 rows x 80 columns]

In [33]:
data.groupby('Total_Promo_Ejecutadas')['Cliente'].count()/len(data)

Total_Promo_Ejecutadas
0.0     0.752395
1.0     0.083471
2.0     0.045874
3.0     0.031692
4.0     0.022894
5.0     0.016845
6.0     0.010940
7.0     0.008538
8.0     0.006975
9.0     0.005731
10.0    0.004052
11.0    0.002547
12.0    0.001766
13.0    0.001071
14.0    0.000753
15.0    0.000434
16.0    0.000087
17.0    0.000174
18.0    0.000029
Name: Cliente, dtype: float64

In [34]:
df_actpromos.groupby('Marca')['CodigoDC'].count()

Marca
29     22659
39    193960
40    205818
Name: CodigoDC, dtype: int64

In [35]:
df_Expromos.groupby('Marca')['CodigoDC'].count()

Marca
29      455
39     3445
40    23894
Name: CodigoDC, dtype: int64

In [37]:
df_sales.groupby('Marca')['Cliente'].count()
df_sales.head(2)

   Cliente   Año  Mes  ClaseEnvase  ...  Cupo        Nr    Hl  Dcto
0        1  2018    1            2  ...  10.0   6352.94  0.03   0.0
1        1  2018    1            2  ...  16.0  99130.50  0.45   0.0

[2 rows x 10 columns]

## Analisis Descriptivo
Primero Crearemos un solo data set para comenzar a realizar el analisis descriptivo en busca de inshigt

In [ ]:

print('Numero de registros en Sales data;  '+ str(df_sales.Cliente.count()))
print('Numero de registros en Executed promos data;  '+ str(df_Expromos.CodigoDC.count()))
print('Numero de registros en Client attributes data;  '+ str(df_clients.Cliente.count()))
print('Numero de registros en Active promos data;  '+ str(df_actpromos.CodigoDC.count()))

In [ ]:
df_actpromos.head(3)

In [ ]:
#df_sales['IngresoNeto'] = round(df_sales['Nr'],2).apply(int)
df_sales['IngresoNeto'] = df_sales['Nr']
del df_sales['Nr']

In [ ]:
df_sales[((df_sales['Cliente']==3213) & (df_sales['Mes']==10))].head(3)

In [ ]:
df_actpromos[df_actpromos['Cliente']==3213].head(3)

In [ ]:
df_Expromos[df_Expromos['Cliente']==3213]

In [ ]:
df_sales.head(3)

In [ ]:
df_sales.groupby('ClaseEnvase')['Cliente'].count()

In [ ]:
#Generamos Valores unicos
df_sales.groupby('ClaseEnvase')['Cliente'].nunique()

Como se observa solo 5 clientes han comprado

In [ ]:
pd.crosstab(df_sales['ClaseEnvase'], df_sales['SegmentoPrecio'])

In [ ]:
## Tabla Cruzada
pd.crosstab(df_sales['Cupo'], df_sales['Marca'])

In [ ]:
df_sales.groupby(['Año','Mes'])['IngresoNeto'].mean()

In [ ]:
df_sales.describe().transpose()

In [ ]:
df_clients.isna().sum()

In [ ]:
df_Expromos.isna().sum()

In [ ]:
df_sales.describe()

## Primer model 
Generamos la primera version del modelo

In [38]:
result = pd.concat([test, data], axis=1, sort=False)
result = pd.merge(test, data, how='left', on=['Cliente', 'Marca','Cupo'])

In [39]:
result.head(3)

   Cliente  ...  Ultimo_Total_Net_Dscto_Clase_SegmentoPrecio_4
0       10  ...                                            0.0
1       17  ...                                        -4855.0
2       37  ...                                            NaN

[3 rows x 81 columns]

In [44]:
fecha_columnas=['MinFecha_Desde','MaxFecha_Desde','FechaAltaCliente']

In [45]:
###Damos Formato de fecha para poder generar otras variables
for c in fecha_columnas:
    print(str(c))
    data[str(c)] = pd.to_datetime(data[str(c)])
    data[str(c)+'_year'] = data[str(c)].dt.year 
    data[str(c)+'_month'] = data[str(c)].dt.month
    data[str(c)+'_day'] = data[str(c)].dt.day

MinFecha_Desde
MaxFecha_Desde
FechaAltaCliente

In [53]:
data.head(3)

   Cliente  Marca  Cupo  ...  FechaAltaCliente_month  FechaAltaCliente_day  Target
0   4119.0   40.0  16.0  ...                     4.0                  27.0       1
1    412.0   29.0   9.0  ...                     4.0                   8.0       0
2   4680.0   40.0  16.0  ...                     8.0                   7.0       0

[3 rows x 90 columns]

In [51]:
##Generamos Target
data['Target']=0
data.loc[data['Target']>=1,'Target']=1

In [54]:
data.groupby('Target')['Cliente'].count()/len(data) ## validamos que Este correcto El target check

Target
0    0.752395
1    0.243871
Name: Cliente, dtype: float64

In [58]:
##Generamos base para entrenar 
DataTrain=data[(data['MinFecha_Desde']<'2019-09-01')]
print('Numero de registros en Train :  ' + str(len(DataTrain)))
DataTest=data[(data['MinFecha_Desde']>'2019-09-01')]
print('Numero de registros en Test :  ' + str(len(DataTest)))

Numero de registros en Train :  33613
Numero de registros en Test :  809

In [60]:
DataTrain.groupby('Target')['Cliente'].count()/len(DataTrain)

Target
0    0.751435
1    0.248565
Name: Cliente, dtype: float64

In [61]:
DataTest.groupby('Target')['Cliente'].count()/len(DataTest)

Target
0    0.912237
1    0.087763
Name: Cliente, dtype: float64

In [ ]:
#visualizacion variables categoricas
import matplotlib.gridspec as gridspec
import seaborn as sns

features = DataTrain.drop(['CodigoDC','Fecha_Desde','Fecha_Hasta','Cliente','FechaAltaCliente'],axis=1).columns

plt.figure(figsize=(20,40))
gs = gridspec.GridSpec(8, 4)
gs.update(hspace=0.8)

for i, f in enumerate(features):
    ax = plt.subplot(gs[i])

    sns.countplot(data=DataTrain, x=f, hue='Target', order=np.sort(DataTrain[f].unique()), palette=sns.xkcd_palette(['blue','red']))
    ax.set_xlabel('')
    ax.set_xticklabels(ax.get_xticklabels(),rotation=90)
    ax.set_ylabel('')
    ax.set_title('feature: ' + str(f))

plt.show()

In [ ]:
####Separamos en X y Y

X=DataTrain.loc[:,['Marca','Cupo','NroPromo_Marca_Cupo','NroPromo_Cliente','Region','Gerencia','SubCanal','TipoPoblacion','Estrato','EF','Antiguedad_Cliente_dd','NroPromocionesPlan_Previas','NroPromocionesExecutadas_Previas','Fecha_Desde_year','Fecha_Desde_month','Fecha_Desde_day','Fecha_Hasta_year','Fecha_Hasta_month','Fecha_Hasta_day',
              'FechaAltaCliente_year','FechaAltaCliente_month','FechaAltaCliente_day']]

y=DataTrain.loc[:,['Target']]

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, # (X,y,%test,estratificacion)
                                                    y, 
                                                    test_size=0.30,
                                                    stratify=DataTrain['Target'], ###Dado que la base esta desvalanceada
                                                    random_state=100)

In [ ]:
########################################
# Selección de Variables
########################################

import matplotlib.pyplot as plt
from sklearn import metrics
from sklearn.ensemble import ExtraTreesClassifier

In [ ]:
# Seleccion por Random Forest
from sklearn.ensemble import RandomForestClassifier # Paso01: Instancio el algoritmo
forest = RandomForestClassifier()                   # Paso02: Configuro el algoritmo
forest.fit(X_train, y_train)

In [ ]:
# Paso N°04: Predecir con el algoritmo entrenado para validar
y_pred_train=forest.predict(X_train) # Prediccion sobre el train
y_pred_test= forest.predict(X_test) # Prediccion sobre el test

In [ ]:
# Paso N°05: Comparar el valor pronosticado con el valor real

from sklearn import metrics as metrics
# Matriz de confusion
print("Matriz confusion: Train")
cm_train = metrics.confusion_matrix(y_train,y_pred_train)
print(cm_train)

print("Matriz confusion: Test")
cm_test = metrics.confusion_matrix(y_test,y_pred_test)
print(cm_test)

# Accuracy
print("Accuracy: Train")
accuracy_train=metrics.accuracy_score(y_train,y_pred_train)
print(accuracy_train)

print("Accuracy: Test")
accuracy_test=metrics.accuracy_score(y_test,y_pred_test)
print(accuracy_test)

# Precision
print("Precision: Train")
precision_train=metrics.precision_score(y_train,y_pred_train)
print(precision_train)

print("Precision: Test")
precision_test=metrics.precision_score(y_test,y_pred_test)
print(precision_test)

# Recall
print("Recall: Train")
recall_train=metrics.recall_score(y_train,y_pred_train)
print(recall_train)

print("Recall: Test")
recall_test=metrics.recall_score(y_test,y_pred_test)
print(recall_test)

In [ ]:
importances = forest.feature_importances_

In [ ]:
# Seleccion por Random Forest
TablaImportancia = pd.concat([pd.DataFrame({'Driver':list(X_train.columns)}),
                              pd.DataFrame({'Importancia':list(forest.feature_importances_)})], axis = 1)
ImportanciaVariables = TablaImportancia[['Driver','Importancia']].sort_values('Importancia', ascending = False).reset_index(drop = True)
ImportanciaVariables

In [ ]:
########################################
# Modelamiento de los datos
########################################

## Modelos Supervisados : Regresión Logística Binaria ##

# Paso N°01: Llamar un algoritmo predictivos
from sklearn.linear_model import LogisticRegression

RegLog = LogisticRegression() # Paso N°02: Configuro el algoritmo
RegLog.fit(X_train, y_train)  # Paso N°03: Entreno o ajusto el algoritmo predictivo a los datos

In [ ]:
# Paso N°04: Predecir con el algoritmo entrenado para validar
y_pred_train=RegLog.predict(X_train) # Prediccion sobre el train
y_pred_test= RegLog.predict(X_test) # Prediccion sobre el test

In [ ]:
# Paso N°05: Comparar el valor pronosticado con el valor real

from sklearn import metrics as metrics
# Matriz de confusion
print("Matriz confusion: Train")
cm_train = metrics.confusion_matrix(y_train,y_pred_train)
print(cm_train)

print("Matriz confusion: Test")
cm_test = metrics.confusion_matrix(y_test,y_pred_test)
print(cm_test)

# Accuracy
print("Accuracy: Train")
accuracy_train=metrics.accuracy_score(y_train,y_pred_train)
print(accuracy_train)

print("Accuracy: Test")
accuracy_test=metrics.accuracy_score(y_test,y_pred_test)
print(accuracy_test)

# Precision
print("Precision: Train")
precision_train=metrics.precision_score(y_train,y_pred_train)
print(precision_train)

print("Precision: Test")
precision_test=metrics.precision_score(y_test,y_pred_test)
print(precision_test)

# Recall
print("Recall: Train")
recall_train=metrics.recall_score(y_train,y_pred_train)
print(recall_train)

print("Recall: Test")
recall_test=metrics.recall_score(y_test,y_pred_test)
print(recall_test)

In [ ]:
X.head(3)

In [ ]:
DataTrain.head(3)

## En Produccion

In [ ]:
del DataTest['Target']

In [ ]:
del test['Ejecuto_Promo']

In [ ]:
DataTest.head(3)

In [ ]:
test.head(3)

In [ ]:
result = pd.merge(test, DataTest, how='left', on=['Cliente', 'Marca','Cupo'])

In [ ]:
result.head(30)

In [ ]:
result.Region.coun

In [ ]:
result.groupby('Region')['Cliente'].count()

In [ ]:
result.isna().sum()

In [ ]:
len(result)